<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加记录</title>
</head>
<link rel="stylesheet" href="/css/create.css">
<body>
    <div class="title">添加记录</div>
    <form class="input_all" method="post" action="/account">
    事项<br>
    <input type="text" name="matter" id="matter">
    发生时间<br>
    <input type="date" name="date" id="date" >
    类型<br>
   <div class="option">
    <select  name="type" id="type">
        <!-- <option value="">记账类型</option> -->
        <option value="收入">收入</option>
        <option value="支出">支出</option>
    </select>
   </div>
    金额<br>
    <input type="number" name="money" id="money" step="0.01" oninput="checkNum(this.value)">
    备注<br>
    <textarea name="remark" id="remark" cols="30" rows="10"></textarea>
    <button type="submit">添加</button>
    </form>
    
</body>
<script src="/js/create.js"></script>

</html>